@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #6b7280;
  --primary-color-dark: #6b7280;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--secondary-color);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--secondary-color);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}




/* skill bar */
*{
  font-family: gill sans,sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
  background: #faf5ff;
  text-transform: uppercase;
}
.Sh{
  text-align: center;
}
.Shh{
  margin: 5px;
}
.skill{
  width:500px;
  margin: 60px auto;
  color: #090000;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(228, 224, 224, 0.25), 0 10px 10px rgba(230, 226, 226, 0.22);
  border: 3px solid black;

}
.skill li{
  margin: 20px 0;
  padding: 10px;

}
.bar{
  background: #121213;
  display: block;
  height: 20px;
  border: 1px solid rgba(11, 0, 0, 0.3);
  border-radius:10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(11, 11, 11, 0.12),0 1px 2px rgba(24, 8, 8, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
  box-shadow: 0 13px 28px rgba(18, 2, 2, 0.25),0 1px 2px rgba(15, 14, 14, 0.24);
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg,rgba(235,0,140,1)0%,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}
.html{
  width:90%;
  animation: html 3s;
}
.css{
  width:70%;
  animation: css 3s;
}
.php{
  width:45%;
  animation: php 3s;
}
.javascript{
  width: 45%;
  animation: javascript 3s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }

}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }

}
@keyframes php{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }

}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }

}
/* footer */
footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

